<h1>Edit Product</h1>
<div class="form">
<%= form_tag "/products/#{@product.id}", method: :patch do %>
	<div class="check">
		Product name: <input type="text" name="name" value="<%= @product.name %>">
	</div>
	<div class="check">
		Product price: <input type="text" name="price" value="<%= @product.price %>">
	</div>
	<div class="check">
		Number in stock: <input type="text" name="stock_number" value="<%= @product.stock_number %>">
	</div>
	<div class="check">
		Product description: <input type="text" name="description" value="<%= @product.description %>">
	</div>
	<div class="check">
		Supplier: <input type="text" name="supplier_id" value="<%= @product.supplier_id %>">
	</div>
	<div class="check">
	<input type="submit" value="Save Product">
<%end%>
</div>