
<h1>Viewing all products</h1>
<div class="user">
   <% if current_user %>
      Welcome <%= current_user.name %>!
    <% end %>
</div>
<br>
<a href="/products?sort=name&sort_order=asc">Sort by Name</a><br>
<a href="/products?sort=price&sort_order=desc">Sort by Price Ascending</a>
<a href="/products?sort=price">Sort by Price Descending</a><br>
<% @products.each_slice(3) do |three| %>
  <div class="row">
    <% three.each do |x| %>
         <div class="col-md-4">
          <div class="well">
            <div class="item">
             <a href="/products/<%= x.id %>"><%= x.name %></a><br>

              <% x.images.limit(1).each do |image| %>
                <%=image_tag("#{image.name}")%>
              <% end %>

              <div class="price">
              $<%= x.price%>
            </div>
            <div>
             <%= x.description %><br>
              </div>
            <%= link_to "Delete", "/products/#{x.id}", method: :delete %>
            <%= link_to "Edit", "/products/#{x.id}/edit"%>
            </div>
          </div>
        </div>
    <%end%>
  </div>
<% end %>

<div class="container">
<%= button_to "Add New Product", "/products/new", method: :get %>
</div>





