<h1>Product</h1>
<div class="show_product">
	<div class="well">
		<div>
		<b><%= @product.name %></b>
		</div>
		<div>
		<b>Supplier: <%= @product.supplier.name%></b>
		</div>
		<div>
			<%= @product.sale_message(@product.price) %>
		</div>
		<div>
			<% @product.images.each do |image| %>
			<div class="image">
                <%= image_tag("#{image.name}") %>
            </div>
              <% end %>
		</div>
		<div>
			<div>
			$<%= @product.price %>
			<!-- </div>
			<div>
			Tax: $<%= @product.tax(@product.price) %>
			</div>
			<% if @product.sale_message(@product.price) == "Discount item!" %>
			 <div class="red_price">Total: $<%= @product.total(@product.price,(@product.tax(@product.price))) %></div>
			<% else %>
			 <div class="white_price">Total: $<%= @product.total(@product.price,(@product.tax(@product.price))) %></div>
			<% end %>
			<div> -->
			<br>
			Description:
			<br>
			<%= @product.description %>
			</div>
			<div>
			<br>
			Category: <% @product.categories.each do |category| %>
						<%=category.name%>
					<% end %>
			</div>
		</div>
		<% if current_user && current_user.admin %>
			<%= link_to "Delete", "/products/#{@product.id}", method: :delete %>

			<%= link_to "Edit", "/products/#{@product.id}/edit"%><br>
			<%= link_to "Add New Image", "/products/#{@product.id}/images/new" %>
		<% end %>
	</div>
</div>

<div class="form">
<h3>Add Product to cart</h3>
<%= form_tag "/carted_products", method: :post do %>
	<div class="check">
		Quantity: <input type="integer" name="quantity" >
	</div>
	<div class="check">
		<input type="hidden" name="product_id" value="<%= @product.id %>">
	</div>
	<div class="check">
	<input type="submit" value="Add To Cart" class="btn btn-default">
	</div>
<%end%>
</div>