<h1>Product</h1>
<div class="show_product">
	<div class="well">
		<div>
		<b><%= @product.name %></b>
		</div>
		<div>
		<b>Supplier: <%= @product.supplier.name%></b>
		</div>
		<div>
			<%= @product.sale_message(@product.price) %>
		</div>
		<div>
			<% @product.images.each do |image| %>
			<div class="image">
                <%= image_tag("#{image.name}") %>
            </div>
              <% end %>
		</div>
		<div class="white_price">
			<div>
			$<%= @product.price %>
			</div>
			<div>
			Tax: $<%= @product.tax(@product.price) %>
			</div>
			<% if @product.sale_message(@product.price) == "Discount item!" %>
			 <div class="red_price">Total: $<%= @product.total(@product.price,(@product.tax(@product.price))) %></div>
			<% else %>
			 <div class="white_price">Total: $<%= @product.total(@product.price,(@product.tax(@product.price))) %></div>
			<% end %>
			<div>
			<br>
			Description:
			<br>
			<%= @product.description %>
			</div>
		</div>

		<%= link_to "Delete", "/products/#{@product.id}", method: :delete %>

		<%= link_to "Edit", "/products/#{@product.id}/edit"%><br>
		<%= link_to "Add New Image", "/products/#{@product.id}/images/new" %>
	</div>
</div>