<h1>Product</h1>
<div class="show_product">
	<div>
	<%= @product.name %>
	</div>
	<div>
	<img src="<%= "/assets/#{@product.image}" %>">
	</div>
	<div>
	$<%= @product.price %>
	</div>
	<div>
	<br>
	Description:
	<br>
	<%= @product.description %>
	</div>

	<%= link_to "Delete", "/products/#{@product.id}", method: :delete %>

	<%= link_to "Edit", "/products/#{@product.id}/edit"%>
</div>