<h1>Supplier</h1>
<div class="show_product">
	<div class="well">
		<div>
		<%= @supplier.name %>
		</div>
		<div>
		<%= @supplier.phone %>
		</div>
		<div>
		<%= @supplier.email %>
		</div>
		
		<%= link_to "Delete", "/suppliers/#{@supplier.id}", method: :delete %><br>
		<%= link_to "Edit", "/suppliers/#{@supplier.id}/edit"%>
	</div>
</div>